.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100%;
  background: #fdfdfd; /* Light background for sidebar */
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1); /* Softer shadow */
  z-index: 1000;
  font-family: 'Poppins', sans-serif; /* Clean font */
}


.logo {
  position: absolute;
  top: 50px;
  font-size: 30px;
  text-transform: capitalize;
  margin: 2%;
}


.logo a {
  color: black;
  font-weight: 700;
  padding: 15px 20px;
  font-size: 30px;
  letter-spacing: 1px;
  position: relative;
  text-decoration: none;
}


 .logo a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid red;
  border-left: 5px solid red;
  bottom: 0;
  left: 0;
}

 .logo a span {
  font-family: "Clicker Script", cursive;
  font-size: 40px;
}
 .logo a::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 5px solid red;
  border-right: 5px solid red;
  top: 0;
  right: 0;
  text-decoration: none;
}


.sidebar ul {
  list-style: none;
  padding: 10px;
  padding-left: 30px;
  /* margin: 0; */
  margin-top: 75%;
}

.sidebar ul li {
  margin: 0px 0;
}

.sidebar ul li .link {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  color: #444;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: background 0.3s ease, color 0.3s ease;
  border-radius: 10px; /* Rounded corners for links */
}

.sidebar ul li .link svg {
  margin-right: 12px;
  font-size: 1.4rem; /* Larger icons */
}

.sidebar ul li .link.active {
  /* background: #e91e63;  */
  color: red;
}

.sidebar ul li .link:hover {
  background: #f5f5f5; /* Light gray on hover */
  color: red;
}
